.body {
  margin: 0;
  padding: 0;
}

.container {
  width: 960px;
  height: 450px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 100px auto;
}

.cell {
  border: 1px solid gray;
  width: 20px;
  height: 20px;
  margin: 0;
}

.row {
  display: flex;
  margin: 0;
  width: 960px;
  align-items: center;
  justify-content: center;
}

.start {
  background-color: green;
}

.end {
  background-color: red;
}
